@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    padding: 90px;
}
.cover
{
    position: relative;
    min-height: 90vh;
    background: url(Image/cover.JPG);
    background-size: cover;
    background-position: center;   
}
.layercover1
{
    background-color: rgba(235, 202, 225, 0.762);
    position: relative;
    min-height: 110vh;
    /* background-image: url(Image/afi.png); */
    /* display: flex;
    justify-content: space-between;
    align-items: center;   
     */
}
.layercover2
{
    background-color: rgba(83, 26, 66, 0.65);
    position: relative;
    min-height: 100vh; 
}
.textcover
{
    /* display: flex;
    justify-content: space-between;
    align-items: center;  */
    padding-top: 50px;
    text-align: center;
    position: relative;
    font-family: 'Playfair Display', serif;
}
.textcover img
{
    /* position: relative;
    text-align: center;  */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* opacity: 0.5; */
}
.textcover h2
{
    padding-top: 50px;
    font-size: 2cm;
    color: #1d270c;
    font-weight: 500;
    line-height: 1.5cm;
    /* position: absolute;
    top: 70%;
    width: 100%; */
    text-align: center;
}
.textcover h2 span
{
    font-size: 1.1cm;
    color: #d5e6a6;
    font-weight: 800;
}
.textcover h3{
    color: #9ba479;
}
.btn1
{
    /* position: relative; */
    display: inline-block;
    background: #5b2f51;
    color: #d1caa1;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
}
.layercover1 h2
{
    text-align: center;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgba(164, 182, 103, 0.898);
}
/* header .sticky
{
    background: rgba(159, 109, 160, 0.782);
} */
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin:  0 15px;
    color: #571862;
    text-decoration: none;
}
.heading
{
    width: 100%;
    text-align: left;
    margin-bottom: 39px;
    color: #5b2f51;
}
.heading h2
{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    padding-right: 30px;
}
.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50
{
    min-width: 50%;
    text-align: center;
}
.w50 img
{
    max-width: 300px;
}
.w50 h3
{
    text-align: left;
}
.w50 p
{
    text-align: left;
    font-family: 'Palanquin', sans-serif;
    text-indent: 30px;

}
/* .slide
{
    position: absolute;
    max-width: 300px;
    /* display: none; */
} */
.btn2
{
    display: inline-block;
    background: #c9bd6071;
    color: #964d80;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
}

.headingX{
    width: 100%;
    text-align: left;
    margin-bottom: 39px;
    color: #f1e4ee;
}
.headingX h2
{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.services
{
    background: #DCCFCA;
}
.services .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx
{
    padding: 30px  0px;
    background: honeydew;
    color: #5b2f51;
    max-width: 340px;
    margin: 70px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBx:hover
{
    background: rgba(93, 32, 74, 0.83);
}
.services .content .servicesBx img
{
    max-width: 400px;
    filter: invert(1);
}
.services .content .servicesBx h2
{
    font-size: 20px;
    font-weight: 600;
}

.activity .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.activity .content .activityBx img
{
    max-width: 100%;
}

.activity .content .activityBx
{
    width: 50%;
    padding: 50px;
    text-align: center;
}
.headingY{
    width: 100%;
    text-align: center;
    /* margin-bottom: px; */
    color: #f1e4ee;
}
.headingY h2
{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.btn3
{
    display: inline-block;
    background: #c9bd6071;
    color: #964d80;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
}
.contact
{
    background: #DCCFCA;
    height: 300px;
}
.contact .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.headingZ{
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: px; */
    color: #f1e4ee;
    
}
.headingZ h2
{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.btn4
{
    display: inline-block;
    background: #c9bd6071;
    color: #964d80;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 30px;
    text-decoration: none;
}


.social{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.social .icon{
    width: 33%;
    height: 30px;
    float: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.clear{
    clear: both;
}

.ig
{
    background-image: url("Image/cal.png");
}
.twitter
{
    background-image: url("Image/cal.png");
}
.linkedin
{
    background-image: url("Image/cal.png");
}

footer
{
    height: 50px;
    display: flex;
    flex-direction: column;
    /* background: url(Image/cover.JPG);
    background-size: cover; */
    /* color: #964d80; */
    background: #9ba479;
    position: relative;
    text-align: center;

}
footer p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #964d80;
    margin-top: auto;
    margin-bottom: auto;
    
}
