@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    padding: 90px;
}
.cover
{
    position: relative;
    min-height: 90vh;
    background: url(Image/cover.JPG);
    background-size: cover;
    background-position: center;   
}
.layercover1
{
    background-color: rgba(235, 202, 225, 0.762);
    position: relative;
    min-height: 110vh;
    /* background-image: url(Image/afi.png); */
    /* display: flex;
    justify-content: space-between;
    align-items: center;   
     */
}
.layercover2
{
    background-color: rgba(83, 26, 66, 0.65);
    position: relative;
    min-height: 100vh; 
}
.textcover
{
    /* display: flex;
    justify-content: space-between;
    align-items: center;  */
    padding-top: 50px;
    text-align: center;
    position: relative;
    font-family: 'Playfair Display', serif;
}
.textcover img
{
    /* position: relative;
    text-align: center;  */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* opacity: 0.85; */
}
.textcover h2
{
    padding-top: 50px;
    font-size: 2cm;
    color: #1d270c;
    font-weight: 500;
    line-height: 1.5cm;
    /* position: absolute;
    top: 70%;
    width: 100%; */
    text-align: center;
}
.textcover h2 span
{
    font-size: 1.1cm;
    color: #d5e6a6;
    font-weight: 800;
}
.textcover h3{
    color: #9ba479;
}
.btn1
{
    /* position: relative; */
    display: inline-block;
    background: #5b2f51;
    color: #d1caa1;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
}
.layercover1 h2
{
    text-align: center;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgba(164, 182, 103, 0.898);
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin:  0 15px;
    color: #571862;
    text-decoration: none;
}
.heading
{
    width: 100%;
    text-align: left;
    margin-bottom: 39px;
    color: #5b2f51;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50 img
{
    width: 300px;
    height: 300px;
}